NEXT_PUBLIC_API_ENDPOINT={NEXT_PUBLIC_API_ENDPOINT}

# Authentication
NEXT_PUBLIC_AUTH={NEXT_PUBLIC_AUTH}
NEXT_PUBLIC_USER_DATA={NEXT_PUBLIC_USER_DATA}
NEXT_PUBLIC_SAVE_USER_INFORMATION={NEXT_PUBLIC_SAVE_USER_INFORMATION}

# Admin
NEXT_PUBLIC_ADMIN_CREATED_CONCERT={NEXT_PUBLIC_ADMIN_CREATED_CONCERT}
NEXT_PUBLIC_ADD_PRODUCT_TO_STRIPE={NEXT_PUBLIC_ADD_PRODUCT_TO_STRIPE}

# Concert
NEXT_PUBLIC_GET_CONCERTS={NEXT_PUBLIC_GET_CONCERTS}
NEXT_PUBLIC_GET_CONCERT={NEXT_PUBLIC_GET_CONCERT}
NEXT_PUBLIC_ADD_CONCERT={NEXT_PUBLIC_ADD_CONCERT}
NEXT_PUBLIC_UPDATE_CONCERT_DETAILS={NEXT_PUBLIC_UPDATE_CONCERT_DETAILS}
NEXT_PUBLIC_UPDATE_CONCERT_STATUS={NEXT_PUBLIC_UPDATE_CONCERT_STATUS}

# Supabase
NEXT_PUBLIC_SUPABASE_URL={NEXT_PUBLIC_SUPABASE_URL}
NEXT_PUBLIC_SUPABASE_ANON_KEY={NEXT_PUBLIC_SUPABASE_ANON_KEY}

# Payment
NEXT_PUBLIC_PROCESS_PAYMENT={NEXT_PUBLIC_PROCESS_PAYMENT}
NEXT_PUBLIC_GET_CUSTOMER_EMAIL={NEXT_PUBLIC_GET_CUSTOMER_EMAIL}
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY={NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY}
NEXT_PUBLIC_STRIPE_CONFIG={NEXT_PUBLIC_STRIPE_CONFIG}
NEXT_PUBLIC_CREATE_PAYMENT_INTENT={NEXT_PUBLIC_CREATE_PAYMENT_INTENT}

# Complex Microservice 1 - Book Concert
NEXT_PUBLIC_CREATE_CONCERT={NEXT_PUBLIC_CREATE_CONCERT}

# Complex Microservice 2 -
# Complex Microservice 3 -